@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.main__btn--explore, .main__btn--commander {
  height: 50px;
  width: 220px;
  padding: 10px;
  line-height: 150%;
  text-align: center;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 10px rgba(200, 199, 199, 0.8);
  border-radius: 25px;
  transition: ease-out 0.7s;
}
.main__btn--explore:hover, .main__btn--commander:hover {
  opacity: 80%;
  box-shadow: 0 5px 5px rgba(149, 148, 148, 0.8);
  cursor: pointer;
}

.fct__btn--choisir, .fct__btn--composer, .fct__btn--deguster {
  height: 70px;
  width: 100%;
  max-width: 320px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(200, 199, 199, 0.8);
  transition: ease-out 0.7s;
}
@media screen and (min-width: 768px) {
  .fct__btn--choisir, .fct__btn--composer, .fct__btn--deguster {
    flex-flow: column;
    justify-content: center;
    height: 150px;
    width: 150px;
    max-width: unset;
  }
}
.fct__btn--choisir:hover, .fct__btn--composer:hover, .fct__btn--deguster:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.fct__btn--choisir:hover i, .fct__btn--composer:hover i, .fct__btn--deguster:hover i {
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .fct__btn--choisir, .fct__btn--composer, .fct__btn--deguster {
    height: 100px;
    width: 200px;
    justify-content: flex-start;
  }
}

.btn__num--1, .btn__num--2, .btn__num--3 {
  width: 1.8em;
  height: 1.8em;
  margin: -10px;
  line-height: 180%;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 80%;
  text-align: center;
}
.btn__icon--tel, .btn__icon--list, .btn__icon--resto {
  margin: 0 25px 0 35px;
  font-size: 110%;
  color: rgb(105, 105, 105);
}
@media screen and (min-width: 768px) {
  .btn__icon--tel, .btn__icon--list, .btn__icon--resto {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 150%;
    margin: 0;
  }
}
.btn__text--choisir, .btn__text--composer, .btn__text--deguster {
  font-weight: 700;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate-check {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.btn-menu__entrees, .btn-menu__plats, .btn-menu__desserts {
  display: flex;
  margin: 10px 0;
  box-shadow: 0px 5px 10px rgba(200, 199, 199, 0.8);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  transition: ease-out 0.7s;
}
@media screen and (min-width: 768px) {
  .btn-menu__entrees, .btn-menu__plats, .btn-menu__desserts {
    width: 50%;
  }
}
.btn-menu__entrees:hover, .btn-menu__plats:hover, .btn-menu__desserts:hover {
  opacity: 80%;
  box-shadow: 0 5px 5px rgba(149, 148, 148, 0.8);
  cursor: pointer;
}
.btn-menu__entrees:hover > .btn-menu__icon--check, .btn-menu__plats:hover > .btn-menu__icon--check, .btn-menu__desserts:hover > .btn-menu__icon--check {
  margin-right: 0;
}
.btn-menu__entrees:hover > .btn-menu__icon--check i, .btn-menu__plats:hover > .btn-menu__icon--check i, .btn-menu__desserts:hover > .btn-menu__icon--check i {
  animation: 1s rotate-check linear;
}
.btn-menu__text--title {
  font-weight: 700;
  font-size: 110%;
  width: 100%;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-menu__text--description {
  font-size: 90%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-menu__text--prix {
  height: 100%;
  width: 15%;
  font-weight: 700;
  font-size: 90%;
  align-self: flex-end;
  text-align: center;
  padding: 15px 0px;
}
.btn-menu__entrees {
  animation: slideUp 1s backwards;
}
.btn-menu__plats {
  animation: slideUp 1s backwards;
  animation-delay: 1s;
}
.btn-menu__desserts {
  animation: slideUp 1s backwards;
  animation-delay: 2s;
}

.btn-menu__text {
  width: 85%;
  padding: 15px 0 15px 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

.btn-menu__icon--check {
  background: #99E2D0;
  width: 20%;
  margin-right: -25%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-right 1s ease-in-out;
}

.fa-circle-check {
  font-size: 150%;
  color: white;
  background: #99E2D0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0;
  background-color: #F6F6F6;
}
.main__title, .main__description {
  text-align: center;
}
.main__title {
  font-size: 150%;
  font-weight: 900;
  padding: 0 2em;
}
.main__link--restaurants {
  margin: 1.5em 0;
}
.main__description {
  padding: 0 1em;
  font-size: 120%;
  color: rgb(105, 105, 105);
}

.fonctionnement {
  width: 90%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    max-width: unset;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 35px 0;
  }
}
.fonctionnement__title {
  font-size: 150%;
  font-weight: 900;
  width: 300px;
  margin-left: 0px;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .fonctionnement__title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

body__index {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(120, 119, 119);
  text-align: center;
  animation: 1s linear 2s loading-spinner forwards;
  /**
   * ----------------------------------------
   * animation flip-vertical-right
   * ----------------------------------------
   */
}
.loader__logo {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 300%;
}
.loader__icon {
  font-size: 400%;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: ease 0.7s;
  -webkit-animation: turn-fork 1s linear infinite both;
  animation: turn-fork 1s linear infinite both;
}
@keyframes loading-spinner {
  from {
    opacity: 100%;
    z-index: 99999;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes turn-fork {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes turn-fork {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.main__img--palette, .main__img--enchantee, .main__img--francaise, .main__img--delice {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main__btn--container {
  width: 100%;
  padding: 20px 0 50px 0;
}
.main__btn--commander {
  margin-left: auto;
  margin-right: auto;
}
.main__menu {
  background: #F6F6F6;
}

.menu__container--img {
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.menu__title--palette, .menu__title--enchantee, .menu__title--francaise, .menu__title--delice {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  bottom: 35px;
  margin: 0;
  padding: 20px 20px 0 20px;
  font-size: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu__title--palette, .menu__title--enchantee, .menu__title--francaise, .menu__title--delice {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .menu__title--palette, .menu__title--enchantee, .menu__title--francaise, .menu__title--delice {
    width: 100%;
  }
  .menu__title--palette i, .menu__title--enchantee i, .menu__title--francaise i, .menu__title--delice i {
    margin: 0 20px;
  }
}
.menu__title--entrees, .menu__title--plats, .menu__title--desserts {
  text-transform: uppercase;
  margin: 0;
  height: 25px;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 10px;
}
.menu__title--entrees:after, .menu__title--plats:after, .menu__title--desserts:after {
  content: " ";
  margin: 5px 0;
  display: block;
  height: 3px;
  width: 40px;
  background: #99E2D0;
}
@media screen and (min-width: 768px) {
  .menu__title--entrees:after, .menu__title--plats:after, .menu__title--desserts:after {
    margin: auto;
    position: relative;
    top: 5px;
  }
}
.menu__entrees--palette, .menu__entrees--enchantee, .menu__entrees--francaise, .menu__entrees--delice, .menu__plats--palette, .menu__plats--enchantee, .menu__plats--francaise, .menu__plats--delice, .menu__desserts--palette, .menu__desserts--enchantee, .menu__desserts--francaise, .menu__desserts--delice {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .menu__entrees--palette, .menu__entrees--enchantee, .menu__entrees--francaise, .menu__entrees--delice, .menu__plats--palette, .menu__plats--enchantee, .menu__plats--francaise, .menu__plats--delice, .menu__desserts--palette, .menu__desserts--enchantee, .menu__desserts--francaise, .menu__desserts--delice {
    align-items: center;
  }
}

.form {
  height: 8%;
  background-color: rgba(228, 228, 228, 0.8);
  display: flex;
  justify-content: center;
  padding-left: 30px;
}
.form__map {
  padding: 1em;
}
.form__input {
  font-weight: 700;
  border: unset;
  background-color: rgba(232, 232, 232, 0.1);
}
.form__input[type=text]:focus {
  outline: none;
}

.header {
  box-shadow: 0 3px 3px 0;
}
.header__container--logo {
  text-align: center;
  padding: 1em;
}
.header__logo--main {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .header__logo--main {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .header__logo--main {
    width: 20%;
  }
}
.header__logo--menu {
  margin-right: auto;
  margin-left: auto;
}

.header__icon--return {
  font-size: 120%;
  padding: 15px;
  position: absolute;
}
.header__menu--palette, .header__menu--enchantee, .header__menu--francaise, .header__menu--delice {
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
}

#card-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: #F6F6F6;
}
@media screen and (min-width: 768px) {
  #card-restaurants {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 992px) {
  #card-restaurants {
    flex-flow: column;
  }
}

.card__link--palette, .card__link--enchantee, .card__link--francaise, .card__link--delice {
  height: 250px;
  width: 320px;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  .card__link--palette, .card__link--enchantee, .card__link--francaise, .card__link--delice {
    width: 330px;
    margin: 30px 10px;
  }
}
@media screen and (min-width: 992px) {
  .card__link--palette, .card__link--enchantee, .card__link--francaise, .card__link--delice {
    width: 70%;
    height: 350px;
  }
}
.card__description--palette, .card__description--enchantee, .card__description--francaise, .card__description--delice {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
@media screen and (min-width: 992px) {
  .card__description--palette, .card__description--enchantee, .card__description--francaise, .card__description--delice {
    height: 30%;
  }
}
.card__icon--heart {
  font-size: 150%;
}

.first_letter {
  text-transform: uppercase;
}

.restaurants__title {
  font-size: 150%;
  font-weight: 900;
  position: relative;
  right: 95px;
}
@media screen and (min-width: 768px) {
  .restaurants__title {
    width: 100%;
    right: 0;
    text-align: center;
  }
}
.restaurants__card--palette, .restaurants__card--enchantee, .restaurants__card--francaise, .restaurants__card--delice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 100%;
  max-width: 320px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(200, 199, 199, 0.8);
  border-radius: 15px;
}
@media screen and (min-width: 992px) {
  .restaurants__card--palette, .restaurants__card--enchantee, .restaurants__card--francaise, .restaurants__card--delice {
    max-width: unset;
    height: 100%;
  }
}
.restaurants__new {
  width: 70px;
  padding: 5px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 90%;
  font-weight: 700;
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 2px;
}
@media screen and (min-width: 992px) {
  .restaurants__new {
    right: 20px;
    top: 15px;
  }
}
.restaurants__img--palette, .restaurants__img--enchantee, .restaurants__img--francaise, .restaurants__img--delice {
  height: 70%;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-position: 0 0;
}
@media screen and (min-width: 992px) {
  .restaurants__img--palette, .restaurants__img--enchantee, .restaurants__img--francaise, .restaurants__img--delice {
    height: 75%;
  }
}

.img--palette, .img--enchantee, .img--francaise, .img--delice {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.description__title--palette, .description__title--enchantee, .description__title--francaise, .description__title--delice {
  font-weight: 900;
  font-size: 120%;
  margin: 0;
}
@media screen and (min-width: 992px) {
  .description__title--palette, .description__title--enchantee, .description__title--francaise, .description__title--delice {
    font-size: 130%;
    margin-bottom: 10px;
  }
}
.description__location--palette, .description__location--enchantee, .description__location--francaise, .description__location--delice {
  font-size: 110%;
}
@media screen and (min-width: 992px) {
  .description__location--palette, .description__location--enchantee, .description__location--francaise, .description__location--delice {
    font-size: 120%;
  }
}

@media screen and (min-width: 992px) {
  .far.fa-heart {
    font-size: 110%;
  }
}
.far.fa-heart:hover {
  font-weight: bold;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: ease 0.7s;
}

footer {
  padding: 20px;
  height: 190px;
  background-color: rgb(64, 64, 64);
  color: white;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  footer {
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    font-size: 120%;
  }
}

footer i {
  margin-right: 10px;
  font-size: 80%;
}

.footer__title {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 110%;
  font-weight: 400;
  margin: 0 0 10px 0;
}
@media screen and (min-width: 992px) {
  .footer__title {
    width: 100%;
  }
}
.footer__link--partenaire, .footer__link--propose, .footer__link--mentions, .footer__link--contact {
  font-size: 90%;
  margin: 5px 0;
}
@media screen and (min-width: 992px) {
  .footer__link--partenaire, .footer__link--propose, .footer__link--mentions, .footer__link--contact {
    margin: 5px 15px;
  }
}
.footer__link--partenaire i {
  transform: rotate(-10deg);
}

/*# sourceMappingURL=styles.css.map */
