// Base Button 
.main__btn{
    &--explore, &--commander{
        height: 50px;
        width: 220px;
        padding: 10px;
        line-height: 150%;
        text-align: center;
        color: #ffff;
        background: $bg-color-btn;
        box-shadow: $btn-shadow;
        border-radius: 25px;
        &:hover{
            @include hover-btn;  
            cursor: pointer;  
        }
    }    
}

// Fonctionnement button

.fct__btn{
    &--choisir, &--composer, &--deguster{
        @include fct__btn;
        &:hover{
            background-color: lighten($color-primary,35);
            @include transition-index;
            cursor: pointer;
            & i{
                color: $color-primary;
            }
        }
        @include tablet-screen{
            height: 100px;
            width: 200px;
            justify-content: flex-start;
        }
    }
}

.btn{
    &__num{
        &--1, &--2, &--3{
            width: $size-btn-num;
            height: $size-btn-num;
            margin: -10px;
            line-height: 180%;
            color:$white;
            background-color: $color-primary;
            border-radius: 50%;
            font-size: 80%;
            text-align: center;
        }
    }
    &__icon{
        &--tel, &--list, &--resto{
            margin: 0 25px 0 35px;
            font-size: 110%;
            color: $font-color-main;
            @include tablet-screen{
                width: 100%;
                padding: 15px;
                text-align: center;
                font-size: 150%;
                margin: 0;
            }
        }

    }
    &__text{
        &--choisir, &--composer, &--deguster{
            font-weight: 700;
        }
    }
}

// Menu selection button

@keyframes slideUp{
    from{
        transform: translateY(20px);
        opacity:0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.btn-menu{
    &__entrees, &__plats, &__desserts{
        @include btn-menu-selection;
        &:hover{
            @include hover-btn
        }        
        &--title{
            @include btn-menu-title
        }
        &--description{
            @include btn-menu-description
        }
        &--prix{
            @include btn-menu-price
        }
    }
    &__entrees{
        @include animate-btn
    }
    &__plats{
        @include animate-btn;
        animation-delay: nth($delay, 1);
    }
    &__desserts{
        @include animate-btn;
        animation-delay: nth($delay, 2);
    }
}
