// Base Button 
.main__btn{
    &--explore, &--commander{
        @include interact-btn;
        @include transition-index;
        &:hover{
            @include hover-btn;  
            cursor: pointer;  
        }
    }    
}

// Fonctionnement button

.fct__btn{
    &--choisir, &--composer, &--deguster{
        @include fct__btn;
        @include transition-index;
        &:hover{
            background-color: lighten($color-primary,35);
            cursor: pointer;
            & i{
                color: $color-primary;
            }
        }
        @include tablet-screen{
            height: 100px;
            width: 200px;
            justify-content: flex-start;
        }
    }
}

.btn{
    &__num{
        &--1, &--2, &--3{
        @include num__btn
        }
    }
    &__icon{
        &--tel, &--list, &--resto{
            @include icon__btn;
            @include tablet-screen{
                width: 100%;
                padding: 15px;
                text-align: center;
                font-size: 150%;
                margin: 0;
            }
        }

    }
    &__text{
        &--choisir, &--composer, &--deguster{
            font-weight: 700;
        }
    }
}

// Menu selection button

// keyframes
@keyframes slideUp{
    from{
        transform: translateY(20px);
        opacity:0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate-check{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);

    }
}
// Button styles

.btn-menu{
    &__entrees, &__plats, &__desserts{
        @include btn-menu-selection;
        @include transition-index;
        &:hover{
            @include hover-btn;
            cursor: pointer;
        }
        &:hover > .btn-menu__icon--check{
            margin-right: 0;
            & i{
                animation: 1s rotate-check linear;
            }
        }
    }
    &__text{
        &--title{
            @include btn-menu-title
        }
        &--description{
            @include btn-menu-description
        }
        &--prix{
            @include btn-menu-price
        }
    }
    
    &__entrees{
        @include animate-btn
    }
    &__plats{
        @include animate-btn;
        animation-delay: nth($delay, 1);
    }
    &__desserts{
        @include animate-btn;
        animation-delay: nth($delay, 2);
    }
}

.btn-menu__text{
    @include btn-menu-text
}

.btn-menu__icon--check{
    @include btn-menu-icon
}
.fa-circle-check{
    font-size: 150%;
    color: $white;
    background: $color-tertiary;
}