//button
//________
@mixin fct__btn {
    height: 70px;
    width: 100%;
    max-width: 320px;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bg-color-main;
    border-radius: 20px;
    box-shadow: $btn-shadow; 
}

//title font
//____________
@mixin main_title_font {
    font-size: 150%;
    font-weight: 900;
}

@mixin transition-index{
    transition: ease 0.7s;   

}
@mixin hover-btn {
    opacity: 80%;
    box-shadow: 0 5px 5px darken($shadow-color-btn, 20);
    @include transition-index;
}

