// TRANSFORM AND ANIMATION
//__________
@mixin transition-index{
    transition: ease-out 0.7s;   
}

@mixin hover-btn {
    opacity: 80%;
    box-shadow: 0 5px 5px darken($shadow-color-btn, 20);
}

// menu
@mixin animate-btn {
    animation: slideUp 1s backwards;
}

// SHORTCUTS
//___________

@mixin font-family-style {
    font-family: 'shrikhand', Arial, Helvetica, sans-serif;
}

@mixin title-b-radius{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
@mixin margin-lr-auto{
    margin-right: auto;
    margin-left: auto;
}
// MEDIA QUERIES
//_______________
@mixin tablet-screen{
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin desktop-screen {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

// _____________________________INDEX PAGE

// MAIN TITLE FONT
//____________
@mixin main_title_font {
    font-size: 150%;
    font-weight: 900;
}

// INTERACTING BUTTON

@mixin interact-btn {
    height: 50px;
    width: 220px;
    padding: 10px;
    line-height: 150%;
    text-align: center;
    color: #ffff;
    background: $bg-color-btn;
    box-shadow: $btn-shadow;
    border-radius: 25px;    
}

// FONCTIONNEMENT BUTTON
//________
@mixin fct__btn {
    height: 70px;
    width: 100%;
    max-width: 320px;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bg-color-main;
    border-radius: 20px;
    box-shadow: $btn-shadow; 
    @include tablet-screen{
       flex-flow: column;
       justify-content: center;
       height: 150px;
       width: 150px;
       max-width: unset;     
    }
}

// numbers
@mixin num__btn {    
    width: $size-btn-num;
    height: $size-btn-num;
    margin: -10px;
    line-height: 180%;
    color:$white;
    background-color: $color-primary;
    border-radius: 50%;
    font-size: 80%;
    text-align: center;
}

//icon
@mixin icon__btn {
    margin: 0 25px 0 35px;
    font-size: 110%;
    color: $font-color-main;
}
// ______________________________RESTAURANT PAGES

// RESTAURANT TITLE
//__________________
@mixin restaurant-title {
    background-color: $bg-color-main;
    @include title-b-radius;
    position: relative;
    bottom: 35px;
    margin: 0;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet-screen{
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;
    }
    
}

// SECTION : ENTREES PLATS DESSERTS
//_________________________________
@mixin menu-section {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    @include tablet-screen{
        align-items: center;
    }
}

// SECTION TITLE

@mixin menu-type-title {
    text-transform: uppercase;
    margin: 0;
    height: 25px;
    font-weight: 400;
    font-size: nth($size,2);
    &:after {   // underline title
        content:" " ;
        margin: 5px 0;
        display: block;
        height: 3px;
        width: 40px;
        background: $color-tertiary;
        @include tablet-screen{
            margin: auto;
            position: relative;
            top: 5px;
        }
    }
}

// MENU  BUTTON
//_____________

@mixin btn-menu-selection {
    display: flex;
    margin: 10px 0;
    box-shadow: $btn-shadow;
    background-color: $white;
    border-radius: 15px;
    overflow: hidden;
    @include tablet-screen{
        width: 50%;
    }    
}

// Menu : Button content styles
@mixin btn-menu-title {
    font-weight: 700;
    font-size: 110%;
    width: 100%;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}
@mixin btn-menu-description{
    font-size: 90%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
@mixin btn-menu-text{
    width: 85%;
    padding: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
}
@mixin btn-menu-price {
    height: 100%;
    width: 15%;
    font-weight: 700;
    font-size: 90%;
    align-self: flex-end;
    text-align: center;
    padding: 15px 0px;
}
@mixin btn-menu-icon{
    background: $color-tertiary;
    width: 20%;
    margin-right: -25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin-right 1s ease-in-out;
}

