//color
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$bg-color-form:rgba(228, 228, 228, 0.8);
$bg-color-form-input: rgba(232, 232, 232, 0.1);
$bg-color-main: #F6F6F6;
$shadow-color-btn: #c8c7C7CC;
$bg-color-btn: linear-gradient($color-secondary,$color-primary);
$white:#ffff;
$font-color-main:rgb(105, 105, 105);
$color-footer:rgb(64, 64, 64);

//size
$size : 0.5em 1em 1.5em 2em;
$size-btn-num: 1.8em;

//button
$fct-btn:fct__btn;
$btn-shadow:0px 5px 10px $shadow-color-btn;

//border radius
$b-radius-card : 15px;


//text
$list-restos : palette, &--enchantee, &--francaise, &--delice;
