// RESTAURANT CARDS

#card_restaurants{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    background-color: $bg-color-main;
  }
  
  .card{
    &__link{
      &--palette, &--enchantee, &--francaise, &--delice{
        height: 200px;
        width: 320px;  
      }
    }
    &__description{
      &--palette, &--enchantee, &--francaise, &--delice{        
        display: flex;
        justify-content: space-between; 
      }
    }
  }
.first_letter{
    text-transform: uppercase;
}
  
  .restaurants{
    &__card{
      &--palette, &--enchantee, &--francaise, &--delice{
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 320px;
        margin: 15px 0;
        box-shadow:$btn-shadow;
        border-radius: $b-radius-card;
      }
    }
    &__new{
      width: 70px;
      padding: 5px;
      text-align: center;
      position: relative;
      left: 230px;
      top: 20px;
      font-size: 90%;
      font-weight: 700;
      background-color: $color-tertiary;
      color: darken($color-tertiary,30);
      border-radius: 2px;
      
  
    }
    &__img{
      &--palette, &--enchantee, &--francaise, &--delice{
        height: 70%;
        width: 100%;
        overflow: hidden;
        border-top-right-radius: $b-radius-card;
        border-top-left-radius: $b-radius-card;
        object-position: 0 0;
      }
    }
  }
  
  .img{
    &--palette, &--enchantee, &--francaise, &--delice{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
  }
  
  