//FOOTER

footer{
    padding: 20px;
    height: 190px;
    background-color: $color-footer;
    color: $white;
    display: flex;
    flex-direction: column;
    @include tablet-screen{
        text-align: center;
    }
    @include desktop-screen{
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto;
        font-size: 120%;
    }
}

footer i{
    margin-right: 10px;
    font-size: 80%;
}

.footer{
    &__title{
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
        font-size: 110%;
        font-weight: 400;
        margin: 0 0 10px 0;
        @include desktop-screen{
            width: 100%;
        }
    }
    &__link{
        &--partenaire, &--propose, &--mentions, &--contact{
            font-size: 90%;
            margin: 5px 0;
        }
        &--partenaire{
            & i{
                transform: rotate(-10deg);
            }
        }
    }
}

