// Base for header
.header{
    box-shadow: 0 3px 3px 0;
    &__container{
        &--logo{
        text-align: center;
        padding: nth($size,2);
        }
    }
    &__logo{
        &--main{
            width: 50%;
            @include tablet-screen{
                width: 30%;
            }
            @include desktop-screen{
                width: 20%;
            }
        }
        &--menu{
            margin-right: auto;
            margin-left: auto;
        }
    }        
}

// Header for menu pages
.header{
    &__icon--return{
        font-size: 120%;
        padding: 15px;
        position: absolute;
        
    } 
    &__menu{
        &--palette, &--enchantee, &--francaise, &--delice{
            display: flex;
            align-items: center;
            height: 65px;
            width: 100%;
        }
    }
       
}