//LOADING SPINNER

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: linear 3s loading-spinner forwards;
  &__logo{
    @include font-family-style;
    font-size: 300%;
    color: $white;
    @include animate-load-logo;
  }
  &__icon{
    font-size: 400%;
    color: $color-primary;
    @include animate-load-icon;
}
/**
 * ----------------------------------------
 * animation loading-spinner
 * ----------------------------------------
 */
@keyframes loading-spinner{
  0%{
    z-index: 9999;
    cursor: wait;
    opacity: 100%;
  }
  100%{
    opacity: 0%;
    z-index: -1;
    visibility: hidden;
    cursor: auto;
  }
}

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
 @-webkit-keyframes turn-element {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes turn-element {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
}


// MAIN CONTENT OF INDEX PAGE

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: nth($size,3) 0;
  background-color:$bg-color-main;
    &__title, &__description{
        text-align: center;
    }
    &__title{
      @include main_title_font;
      padding: 0 nth($size,4);
    }
    &__link--restaurants{
      margin: nth($size, 3) 0;
    }
    &__description{
      padding: 0 nth($size,2);
      font-size: 120%;
      color: $font-color-main;
    }
}

.fonctionnement{
  width: 90%;
  max-width: 320px;
  @include margin-lr-auto;
  padding: 45px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet-screen{
    max-width: unset;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 35px 0;
  }
    &__title{
      @include main_title_font;
      width: 300px;
      margin-left: 0px;
      align-self: flex-start;
      @include tablet-screen{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
  }
}
  
.card__restaurant--title{
  @include main_title_font;
  position: relative;
  right: 95px;
  @include tablet-screen{
    width: 100%;
    right: 0;
    text-align: center;
  }
}
