.main{
    &__img{ // ON MAIN PAGE
        &--palette, &--enchantee, &--francaise, &--delice{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__btn{ // ON RESTAURANT PAGES
        &--container{
            width: 100%;
            padding: 20px 0 50px 0;
        }
        &--commander{
            @include margin-lr-auto;
        }
    }
    &__restaurant{
        background: $bg-color-main;
    }      
}

// RESTAURANT TITLE

.restaurant__title{ 
    @include restaurant-title;
    & h1{
    @include font-family-style;
    font-weight: 400;
    font-size: $size-btn-num;
    }
    & i{
        font-size: 150%;
    }
    @include tablet-screen{
    & i{
        margin: 0 20px;
    }
    width: 100%;
    }
}

//MENU STYLES

.menu{
    &__container--img{
        height: 250px;
        width: 100%;
        overflow: hidden;
    }
    &__entrees, &__plats, &__desserts{
        @include menu-section;
    }
    &__title{
        &--entrees, &--plats, &--desserts{ // TYPE OF MENU TITLE
            @include menu-type-title;
            margin-bottom: 10px
        } 
    } 
}


