.main{
    &__img{ // ON MAIN PAGE
        &--palette, &--enchantee, &--francaise, &--delice{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__btn{ // ON RESTAURANT PAGES
        &--container{
            width: 100%;
            padding: 20px 0 50px 0;
        }
        &--commander{
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__menu{
        background: $bg-color-main;
    }      
}

.menu{
    &__container--img{
        height: 250px;
        width: 100%;
        overflow: hidden;
    }
    &__title{ // RESTAURANT TITLE
        &--palette, &--enchantee, &--francaise, &--delice{
           @include restaurant-title;
           @include tablet-screen{
            & i{
                margin: 0 20px;
            }
            width: 100%;
           }
        }
        &--entrees, &--plats, &--desserts{ // TYPE OF MENU TITLE
            @include menu-type-title;
            margin-bottom: 10px
        } 
    }
    &__entrees, &__plats, &__desserts{
        &--palette, &--enchantee, &--francaise, &--delice{
            @include menu-section;
        }
    }    
}




